praeambel.aux
praeambel.fdb_latexmk
praeambel.fls
praeambel.log
praeambel.pdf
praeambel.synctex.gz
A1/FlorianSchlösser_HenriHeyden_MatheB_Blatt01.aux
A1/FlorianSchlösser_HenriHeyden_MatheB_Blatt01.fdb_latexmk
A1/FlorianSchlösser_HenriHeyden_MatheB_Blatt01.fls
A1/FlorianSchlösser_HenriHeyden_MatheB_Blatt01.log
A1/FlorianSchlösser_HenriHeyden_MatheB_Blatt01.synctex.gz
A2/A2.aux
A2/A2.fdb_latexmk
A2/A2.fls
A2/A2.log
A2/A2.synctex.gz
A2/FlorianSchlösser_HenriHeyden_AliGalipAltun_MatheB_Blatt02.aux
A2/FlorianSchlösser_HenriHeyden_AliGalipAltun_MatheB_Blatt02.fdb_latexmk
.gitignore
A2/FlorianSchlösser_HenriHeyden_AliGalipAltun_MatheB_Blatt02.fls
A2/FlorianSchlösser_HenriHeyden_AliGalipAltun_MatheB_Blatt02.log
A2/FlorianSchlösser_HenriHeyden_AliGalipAltun_MatheB_Blatt02.synctex.gz
A2/A2.pdf
